.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9{
    width:100px;
    height: 100px;
    background-color:darkslategray;
    border: solid 1px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.container{
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
    align-items: center;
    
    
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.hero{
    text-align: center;
}
body{
    background-color: bisque;
}
.btn{
    align-self: flex-end;
    background-color: darkslategray;
    border: 3px solid black;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 0.6px;
}